.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 50px);
}
.left-nav {
  font-weight: 700;
  color: #333;
  font-size: 1.25em;
  letter-spacing: 2px;
}
.voteBtn {
  background-color: #eeeeee !important;
}
.voteBtn:hover {
  background-color: #dddddd !important;
}
