.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 50px);
}
.left-nav {
  font-weight: 900;
  font-size: 1.5em;
  color: #333;
  letter-spacing: 2px;
}
.voteBtn {
  background-color: #eeeeee !important;
}
.voteBtn:hover {
  background-color: #dddddd !important;
}
